 <div class="container text-center">
  <h1>Product card</h1>
  </div>
  
  
  <div class="shell">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhLyMhcyC035yVVQ6AVvwRXMsM5BHgQbMr4A&usqp=CAU" alt="Product" class="img-responsive" />
            </div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Ethnic</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a  class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="https://images.unsplash.com/photo-1562232573-0305012a8818?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mzd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Introvert</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="https://images.unsplash.com/photo-1598618443855-232ee0f819f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NTR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Beauty</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="https://images.unsplash.com/photo-1598618444143-0c6c6fb69daf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTQyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Drama</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart cvf ggf gfg g</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img src="https://images.unsplash.com/photo-1559867631-028ef4d08f8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTYwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="Product" class="img-responsive" />
            </div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Ethnic</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="https://images.unsplash.com/photo-1511108690759-009324a90311?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTk2fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Introvert</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="https://images.unsplash.com/photo-1597776776858-7180426bc512?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjQ0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Beauty</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img"><img src="https://images.unsplash.com/photo-1613753584258-965377a71662?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NDQxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="Product" class="img-responsive" /></div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>Drama</span>
              </div>
              <div class="title-product">
                <h3>My face not my heart cvf ggf gfg g</h3>
              </div>
              <div class="description-prod">
                <p>Description Product tell me how to change playlist height size like 600px in html5 player. player good work now check this link</p>
              </div>
              <div class="card-footer">
                <div class="wcf-left"><span class="price">Rp500.000</span></div>
                <div class="wcf-right"><a class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>